
<div layout="column" layout-align="space-around center" class="md-inline-form">
<md-content layout-padding>
    <div>
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <md-input-container class="md-block" flex-gt-sm>
            <label><%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
    </md-input-container>

        <md-input-container class="md-block">
                    <label><%= f.label :password %></label>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
  </md-input-container>

  <div class="actions">
    <md-button class="btn md-raised md-accent" type="submit">Log In</md-button>
	<%= link_to "Forgot Password", new_user_password_path, :class => "" %>
  </div>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %> Remember Me
  <% end %>
<% end %>
</div>
</md-content>
</div>