<!DOCTYPE html>
<head>
  <title>VastWoodland30527</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
	<script type="text/javascript"
	src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</head>

<body ng-app="App">
<div layout="column">
<%= render 'shared/navbar' %>

<md-content flex>
<%= render 'shared/location_bar' %>

<%= yield %>
</md-content>
</div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>

</html>
